<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
    <link rel="stylesheet" href="{{ style_file }}">
    <title>Title</title>
</head>
<body>
    <header style="background-color: #ebebeb">
        <div class="div1">
            <div><h1>Миссия Колонизация Марса</h1></div>
            <div><h4>Mars One</h4></div>
        </div>
    </header>
    <h3  style="color: #dcdcdc; margin-left: 20px;">И на Марсе будут яблони цвести!</h3>
    {% block content %}
    {% endblock %}

</body>
</html>