{% extends "base.html" %}

{% block content %}
<div class='buttons'>
                    {% if current_user.is_authenticated %}
                        <a href="make_job" class="btn btn-secondary" style="margin-right: 50px;">Добавить работу</a>
                        <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
                    {% else %}
                        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                        <a class="btn btn-success" href="/login">Войти</a>
                    {% endif %}
</div>
<div><h2 style="text-align: center">Works log</h2></div>

{% for el in jobs %}
<div>
    <h3>Action #{{ el.id }}</h3>
    <table class="table">
        <tr class="table-secondary">
            <th>Title of activity</th>
            <th>Team leader</th>
            <th>Duration</th>
            <th>List of collaborators</th>
            <th>is finished</th>
        </tr>
        <tr>
            <td class="table-primary">{{ el.job }}</td>
            <td class="table-primary">{{el.user.surname}} {{el.team_leader.name}}</td>
            {% if el.work_size > 1 %}
                <td class="table-primary">{{ el.work_size }} hours</td>
            {% else %}
                <td class="table-primary">{{ el.work_size }} hour</td>
            {% endif %}
            <td class="table-primary">{{ el.collaborators }}</td>
            {% if el.is_finished %}
                <td class="table-success">is finished</td>
            {% else %}
                <td class="table-danger">is not finished</td>
            {% endif %}
        </tr>
    </table>
</div>
{% endfor %}

{% endblock %}