{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <div class='buttons'>
        <a href="/depart_list" class="btn btn-secondary" style="margin-right: 50px;">К листу департаментов</a>
        <a href="make_job" class="btn btn-secondary" style="margin-right: 50px;">Добавить работу</a>
        <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
    </div>
{% else %}
    <div class='buttons1'>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </div>
{% endif %}
<div><h2 style="text-align: center; margin-top: 20px">Журнал работ</h2></div>

{% for el in jobs %}
<div style="margin-top: 50px">
    <h3>Задание #{{ el.id }}</h3>
    <table class="table">
        <tr class="table-secondary">
            <th>Название работы</th>
            <th>Лидер команды</th>
            <th>Длительность</th>
            <th>Список помощников</th>
            <th>Закончено ли</th>
        </tr>
        <tr>
            <td class="table-primary">{{ el.job }}</td>
            <td class="table-primary">{{el.user.surname}} {{el.user.name}}</td>
            {% if el.work_size % 100 > 10 and el.work_size % 100 < 20 %}
                <td class="table-primary">{{ el.work_size }} часов</td>
            {% elif el.work_size % 10 == 1 %}
                <td class="table-primary">{{ el.work_size }} час</td>
            {% elif el.work_size % 10 in[2, 3, 4] %}
                <td class="table-primary">{{ el.work_size }} часа</td>
            {% else %}
                <td class="table-primary">{{ el.work_size }} часов</td>
            {% endif %}
            <td class="table-primary">{{ el.collaborators }}</td>
            {% if el.is_finished %}
                <td class="table-success">Закончено</td>
            {% else %}
                <td class="table-danger">Не закончено</td>
            {% endif %}
        </tr>
    </table>
    {% if current_user.is_authenticated and (current_user == el.user or current_user.id == 1) %}
    <div>
        <a href="/jobs/{{ el.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/jobs_delete/{{ el.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}

{% endblock %}